@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scroll-behavior: smooth;
}

.checkout-button-section {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: justify;
}
.checkout-button {
  height: 36px;
  transition: all 0.2s ease;
}
.checkout-button:hover {
  border: 2px solid;
  opacity: 0.8;
}
.breckenhill-button {
  height: 36px;
  width: 300px;
  font-weight: 600;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.breckenhill-button:hover {
  background-color: #ffffff;
  color: #db4c44;
  opacity: 0.8;
}

.r_iframe {
  width: 60vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .main-logo { */
/* height: 80vh; */
/* width: 400px;
} */

h2 {
  color: #736de0;
}

h1 {
  color: #db4c44;
}

h3 {
  color: #a9de7c;
}

#navibar {
  position: sticky;
  top: 0;
}

p {
  color: white;
}

/* Transition styles */
.dropdown-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.dropdown-enter-active {
  max-height: 1000px; /* a value larger than the max height of the content */
  opacity: 1;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}
.dropdown-exit {
  max-height: 1000px;
  opacity: 1;
}
.dropdown-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* Preloaded iframe hidden initially */
iframe.preloaded {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Make iframes visible once the dropdown is open */
.dropdown-enter .preloaded,
.dropdown-enter-active .preloaded,
.dropdown-exit .preloaded,
.dropdown-exit-active .preloaded {
  opacity: 1;
  position: relative;
  width: auto;
  height: auto;
}

/* Header container to ensure only the h2 is clickable */
.header-container {
  display: flex;
  justify-content: center;
}

/* Arrow icon styles */
.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.arrow-icon.rotate {
  transform: rotate(-180deg);
}

.floating-div {
  position: fixed;
  bottom: 0;
  background-color: black;
  min-height: fit-content;
  height: fit-content;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}

.draw-item {
  stroke: #db4c44;
  stroke-width: 2;
  /* stroke-linejoin: bevel;
  stroke-linecap: butt; */
  stroke-linejoin: round;
  stroke-linecap: round;
}

#artistsContainer {
  scroll-margin: 0;
  scroll-margin-block: 0;
  scroll-snap-stop: always;
}

#artistsContainer::-webkit-scrollbar {
  width: 0px;
  height: 7px;
}

#artistsContainer::-webkit-scrollbar-thumb {
  background-color: #359bdf;
  border-radius: 10px;
}

#artistsContainer::-webkit-scrollbar-track {
  background: #dbdada;
  border-radius: 10px;
  margin: 20px;
}

.transition-max-height {
  transition: max-height 0.4s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  .breckenhill-button:hover {
    background-color: #db4c44;
    color: black;
    opacity: 0.8;
  }
}

@media (max-width: 800px) {
  .r_iframe {
    width: 80vw;
    height: 300px;
  }
}
